<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="en">

<head th:fragment="super-admin-header-link">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Doctor Administration</title>
<meta content="Admin Dashboard" name="description" />
<meta content="Themesbrand" name="author" />
<!-- <link rel="shortcut icon" href="/admin/assets/images/onedoorlogo.png">-->
<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="/admin/assets/plugins/morris/morris.css">
<link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="/admin/assets/css/metismenu.min.css" rel="stylesheet"
	type="text/css">
<link href="/admin/assets/css/icons.css" rel="stylesheet"
	type="text/css">
<link href="/admin/assets/css/style.css" rel="stylesheet"
	type="text/css">
<link
	href="/admin/assets/plugins/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="/admin/assets/plugins/datatables/responsive.bootstrap4.min.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="/admin/assets/js/validationText.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

</head>

<body>
	<!-- Begin page -->
	<!-- test -->
	<div id="wrapper">
		<!-- Top Bar Start -->
		<div class="topbar" th:fragment="super-admin-navbar">
			<!-- LOGO -->
			<div class="topbar-left" style="background-color: white;">
				<a href="#" class="logo"> <span style="color: black;"> <!-- <img
						src="/admin/assets/images/appicon.png" alt="" width="75"
						height="80"> --> 

				</span> <!-- <i> <img src="/admin/assets/images/appicon.png" alt=""
						width="75" height="80"> 

				</i> -->LOGO
				</a>
			</div>
			<nav class="navbar-custom">
				<ul class="navbar-right d-flex list-inline float-right mb-0">
					<!--  <li class="dropdown notification-list d-none d-sm-block">
                        <form role="search" class="app-search">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li> -->

					<li class="dropdown notification-list">
						<div class="dropdown notification-list nav-pro-img">
							<a th:if="${session.profileImage1}" class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                	<img th:src="@{/uploads/admin/profile-image/{profileImage1}(profileImage1=${session.profileImage1})}" alt="user" class="rounded-circle">
                            </a>
                            
                            <a th:unless="${session.profileImage1}" class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img  src="/admin/assets/images/users/profile.png" alt="user" class="rounded-circle">
                            </a>
                        
							<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
								<!-- item-->
<!-- 						<a class="dropdown-item" th:href="@{/admin/manage-admin-profile}"><i -->
<!-- 									class="mdi mdi-account-circle m-r-5"></i>Update Profile</a> -->
<!-- 						 <a  -->
<!-- 									class="dropdown-item d-block" th:href="@{/admin/manage-admin-password}"><i -->
<!-- 									class="mdi mdi-account-circle m-r-5"></i>Change Password</a> -->
<!-- 								<div class="dropdown-divider"></div> -->
								<a class="dropdown-item text-danger" th:href="@{/admin/logout}"><i
									class="mdi mdi-power text-danger"></i> Logout</a>
							</div>
						</div>
					</li>
				</ul>
				<ul class="list-inline menu-left mb-0">
					<li class="float-left">
						<button class="button-menu-mobile open-left waves-effect">
							<i class="mdi mdi-menu"></i>
						</button>
					</li>

				</ul>
			</nav>
		</div>
		<!-- Top Bar End -->
		<!-- ========== Left Sidebar Start ========== -->
		<div class="left side-menu" th:fragment="super-admin-sidebar">
			<div class="slimscroll-menu" id="remove-scroll">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu" id="side-menu">
						
						<li><a th:href="@{/admin/dashboard}" class="waves-effect">
								<i class="fas fa-home"></i><span
								class="badge badge-primary badge-pill float-right"></span> <span>
									Dashboard </span>
						</a></li>
						<!-- <li><a th:href="@{/admin/manage-medical-service}" class="waves-effect">
								<i class="mdi mdi-google-maps"></i><span
								class="badge badge-rimary badge-pill float-right"></span> <span>
									Medical Service</span>
						</a></li> -->
						<li><a th:href="@{/admin/manage-medical-service}"
							class="waves-effect"><i class="fas fa-space-shuttle"></i><span
								class="badge badge-rimary badge-pill float-right"></span><span>
							      Manage Medical Service</span></a></li>
						
						<li><a th:href="@{/admin/manage-appointment}"
							class="waves-effect"><i class="fas fa-space-shuttle"></i><span
								class="badge badge-rimary badge-pill float-right"></span><span>
							      Manage Appointment</span></a></li>
							      
						<li><a th:href="@{/admin/manage-query}"
							class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
									Manage Queries</span></a></li>
									
							<li><a th:href="@{/admin/manage-callback}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
									Manage Callback</span></a></li>
									
							<li><a th:href="@{/admin/manage-procedure}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
									Manage Procedures</span></a></li>
									
							<li><a th:href="@{/admin/manage-contact}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
									Manage Contact</span></a></li>
									
								<li><a th:href="@{/admin/manage-coupon}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
								Manage Coupon</span></a></li>
								
									<li><a th:href="@{/admin/manage-user}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span>
								Manage User</span></a></li>
								
									
<!-- 							<li><a th:href="@{/admin/manage-coupon}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span> -->
<!-- 									Manage Offer</span></a></li> -->
																	
									
<!-- 							<li><a th:href="@{/admin/manage-price}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span> -->
<!-- 									Manage Price</span></a></li> -->
									
									
<!-- 							<li><a th:href="@{/admin/manage-transaction}" class="waves-effect"><i class="fas fa-space-shuttle"></i><span> -->
<!-- 									Transaction</span></a></li> -->
											
									
							
									
									
					</ul>
				</div>
				<!-- Sidebar -->
				<div class="clearfix"></div>
			</div>
			<!-- Sidebar -left -->
		</div>
		<!-- Left Sidebar End -->
	</div>
	<!-- END wrapper -->
	<!-- jQuery  -->
	<div th:fragment="super-admin-footer-link">
		<script src="/admin/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/admin/assets/js/metisMenu.min.js"></script>
		<script src="/admin/assets/js/jquery.slimscroll.js"></script>
		<script src="/admin/assets/js/waves.min.js"></script>
		<script
			src="/admin/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
		<script src="/admin/assets/plugins/morris/morris.min.js"></script>
		<script src="/admin/assets/plugins/raphael/raphael-min.js"></script>
		<script src="/admin/assets/pages/dashboard.js"></script>
		<script src="/admin/assets/js/app.js"></script>
		<script
			src="/admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script
			src="/admin/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
		<script
			src="/admin/assets/plugins/datatables/dataTables.buttons.min.js"></script>
		<script
			src="/admin/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
		<script src="/admin/assets/plugins/datatables/jszip.min.js"></script>
		<script src="/admin/assets/plugins/datatables/pdfmake.min.js"></script>
		<script src="/admin/assets/plugins/datatables/vfs_fonts.js"></script>
		<script src="/admin/assets/plugins/datatables/buttons.html5.min.js"></script>
		<script src="/admin/assets/plugins/datatables/buttons.print.min.js"></script>
		<script src="/admin/assets/plugins/datatables/buttons.colVis.min.js"></script>
		<script
			src="/admin/assets/plugins/datatables/dataTables.responsive.min.js"></script>
		<script
			src="/admin/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
		<script src="/admin/assets/pages/datatables.init.js"></script>
		<script
			src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
		<script>
			$.fn.selectpicker.Constructor.BootstrapVersion = '4';
		</script>
		<script type="text/javascript">
			$("#msg").show().delay(5000).fadeOut("slow");
		</script>
	</div>
</body>

</html>