<!DOCTYPE html>
<html>
<head th:replace="website/common/layout :: header-link"></head>
<body>
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <div class="preloader-dot-loading">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>

  <!-- Start main-content -->
  <div class="main-content"> 
    <!-- Section: home -->
    <section id="home" class="divider parallax layer-overlay overlay-dark-9" data-bg-img="/website/assets/images/bg/bg4.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pb-100">
            <div class="row">
              <div class="col-md-12 col-md-push-3">
                <div class="text-center mb-60"><a href="#" class=""><img alt="" src="/website/assets/images/logo-wide-white.png"></a></div>
                <div class="bg-lightest border-1px p-25">
                  <h4 class="text-theme-colored text-uppercase m-0">Make an Appointment</h4>
                  <div class="line-bottom mb-30"></div>
                  <form id="appointment_form" name="appointment_form" class="mt-30" method="post" action="http://html.kodesolution.live/h/dentalpro/v3.0/demo/includes/appointment.php">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group mb-10">
                        <label>Patient Name</label>
                          <input name="patientName" class="form-control" type="text" required="" aria-required="true">
                        </div>
                      </div>
                       <div class="col-sm-6">
                        <div class="form-group mb-10">
                         <label>Patient Age</label>
                          <input name="patientAge" class="form-control required" type="text" aria-required="true">
                        </div>
                      </div> 
                      <div class="col-sm-6">
                        <div class="form-group mb-10">
                         <label>Patient Email</label>
                          <input name="patientEmail" class="form-control required email" type="email" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group mb-10">
                         <label>Patient Phone</label>
                          <input name="patientPhone" class="form-control required" type="text" aria-required="true">
                        </div>
                      </div>
                              
                       <div class="col-sm-6">
                       	 <div class="form-group mb-10">
                       	  <label>Patient Gender</label>
                          <input name="patientGender" class="form-control required" type="text" aria-required="true">
                        </div>
                     </div>
                     <div class="col-sm-6">
                       	 <div class="form-group mb-10">
                       	  <label>Patient Image</label>
                          <input name="patientImage" class="form-control required" type="file" aria-required="true">
                        </div>
                     </div>
                     
                      <div class="col-sm-6">
                        <div class="form-group mb-10">
                         <label>Appointment Date</label>
                          <input name="appointmentDate" class="form-control required date-picker" type="text" aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group mb-10">
                          <label>Appointment Time</label>
                          <input name="appointmentTime" class="form-control required time-picker" type="text" aria-required="true">
                        </div>
                      </div>
          			  <div class="col-sm-6">
                        <div class="form-group mb-10">
                          <label>Appointment Type</label>
	                       <select class="form-control" required id="type">
		                       <option value="">Select Appointment Type</option>
		                        <option value="In Person">In Person</option>
		                       <option value="Phone Call">Phone Call</option>
		                       <option value="Video Call">Video Call</option>
	                       </select>
                        </div>                        
                      </div>                 
                      <div class="col-sm-6" id="appointment">
                        <div class="form-group mb-10">
                         <label>Appointment Amount(rs)</label>
                          <input name="appointmentAmount" readonly id="appointmentAmount" class="form-control" type="text" value="0" aria-required="true">
                        </div>
                      </div> 
                       <div class="col-sm-6">
                        <div class="form-group mb-10">
                          <label>Coupon Code</label>
                          <input class="form-control" id="coupanCode" type="text"  aria-required="true">
                        </div>
                      </div>
                         <div class="col-sm-6" id="coupan">
                        <div class="form-group mb-10">
                          <label>Coupon Amount(rs)</label> 
                          <input name=couponAmount class="form-control" readonly id="couponAmount" type="text" value="0"  aria-required="true">
                        </div>
                      </div>
                      <div class="col-sm-6" id="totalAmt">
                        <div class="form-group mb-10">
                          <label>Total Amount(rs)</label> 
                          <input name="totalAmount" class="form-control" readonly id="totalAmount" type="text"  aria-required="true">
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-10">
                     <label>Appointment Description</label>
                      <textarea name="appointmentDescription" class="form-control required"   rows="5" aria-required="true"></textarea>
                    </div>
                   
                    <div class="form-group mb-0 mt-20">
                      <input name="form_botcheck" class="form-control" type="hidden" value="">
                      <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait..." disabled >Submit</button>
                    </div>
                  </form>
                  <!-- Appointment Form Validation-->
                  <script>
                  
                  $('document').ready(function() {
                      
                	  $("#coupan").hide();
                	  $("#appointment").hide();
                	  $("#totalAmt").hide();            	  

                  });
                  
                  $("#type").change(() => {
                	  
                	  var typeValue = $("#type").val();
                	  if(typeValue === "Phone Call")
                	  {
                		  $("#appointmentAmount").val("300");
                	  }
                	  if(typeValue === "Video Call")
                	  {
                		  $("#appointmentAmount").val("500");
                	  }                	  
                	  if(typeValue === "In Person")
                	  {
                		  $("#appointmentAmount").val("100");
                	  }
                	
          			  var appointmentAmount = $("#appointmentAmount").val();
                	  var coupanAmount = $("#couponAmount").val();
                	  
                	  var totalAmount = parseInt(appointmentAmount) - parseInt(coupanAmount)               	  
                	  $("#totalAmount").val(totalAmount);
                	  
                	  if(typeValue != "")
                	  {
                		  $("#appointment").show();
                		  $("#totalAmt").show();
                	  }
                	  else
                	  {
                		  $("#appointment").hide();
                	  }
                	  
                	  
                	  
                	
                  })
                  
                  $("#coupanCode").blur(() => {
                	  var coupanCode = $("#coupanCode").val();
                	  if(coupanCode != "")
                	  {
                		  $.ajax({
                	            type: 'ajax',
                	            method: 'POST',
                	            url: "/get-coupon-amount",
                	            data: { coupanCode: coupanCode },
                	            async: false,
                	            dataType: 'json',
                	            success: function(data) {
                	            	if(data.status === "true")
                	            	{
                    	            	$("#coupan").show();
                    	                $('#couponAmount').val(data.data);
                    	                var appointmentAmount = $("#appointmentAmount").val();
                                  	    var coupanAmount = $("#couponAmount").val();
                                  	  
                    	                var totalAmount = parseInt(appointmentAmount) - parseInt(coupanAmount)               	  
                                  	  $("#totalAmount").val(totalAmount);
                	            	}
                	            	else
                	            	{
                	            		alert(data.message)
                	            	}
                	            	
                	         
                	            },
                	            error: function() {
                	                alert('Could not Edit Data');
                	            }
                	        });
                	  }
                  })
                  
                  
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

  <!-- Footer -->
  <footer id="footer" class="footer">
    <div class="container p-20">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">Copyright &copy;2016 ThemeMascot. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

</body>
<div th:replace="website/common/layout :: footer-link"></div>
</html>