<!DOCTYPE html>
<html>
<head th:replace="website/common/layout :: header-link"></head>

<body>
	<div th:replace="website/common/layout :: navbar"></div>
	
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="/website/assets/images/bg/bg6.jpg">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title">Procedures</h2>
              <ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li class="active text-theme-colored">Procedures</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

 <!-- Section: Depertment -->
    <section id="depertment" class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sm-6 col-md-4" th:each="procedure: ${procedureList}">
              <div class="box-hover-effect effect-siberia mb-30">
                <div class="effect-wrapper">
                  <div class="thumb">
                    <img class="img-fullwidth" th:src="@{'/uploads/procedure/' + ${procedure.procedureImage}}" alt="project" widht="100%" height="250px">
                  </div>
                  <div class="info-box">
                    <div class="info-title bg-theme-colored-transparent-9">
                      <h3 class="title text-white mt-0" th:text="${procedure.procedureTitle}"></h3>
                    </div>
                    <div class="info-content text-white bg-theme-colored-transparent-9">
                      <h3 class="text-white mt-0" th:text="${procedure.procedureTitle}"></h3>
                      <p th:text="${procedure.procedureDescription}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

</div>
</body>
<div th:replace="website/common/layout :: footer"></div>
<div th:replace="website/common/layout :: footer-link"></div>
<script>
		$("#contact_form").submit(() => {
			window.location = "/contact";
		});
	</script>
</html>